html {
    background-color: rgb(255, 255, 255);
    font-family: 'League Spartan'
}
body {
    background-color: rgba(190, 141, 96, 0.418);
    width: 800px;
    margin: 0 auto;
    padding: 10px 20px 20px;

}
h1 {
    font-size: 30px;
    text-align: center;
}
li {
    font-size: 20px;

}
.bold {
    font-weight: bold;
}